.error {
    text-align: center;
    color: #FF6060;
    margin-bottom: 100px;
    .error-main {
        font-size: 18rem;
        font-weight: 700;
        margin: 40px;
        @media (max-width: 767.98px) {
            font-size: 6rem;
            margin: 120px 0;
        }
    }
    .text-error {
        margin-bottom: 80px;
        font-size: 2.25rem;
        font-weight: 500;
        @media (max-width: 767.98px) {
            font-size: 1.125rem;
            margin-bottom: 120px;
        }
    }
    .return {
        color: #FF6060;
    }
}
